.side__bar{
    position: sticky;
    top: 50px;
    width: 20%;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
}

.sidebar_avatar{
    margin-bottom: 10px;
}

.sideBarTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sideBarTop > img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sideBarTop >h4{
    color: gray;
    font-size: 12px;
}

.sideBarTop > h2{
    font-size: 18px;
}

.sideBar_stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sideBar_stat > p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.sideBar__stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sideBat__statNumber{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sideBar__bottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

.sideBar__bottom > p{
    padding-bottom: 10px;
    font-size: 13px;
}

.sideBar__recentItem{
    display: flex;
    color: gray;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sideBar__recentItem:hover{
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
    border-radius: 10px;
}

.sideBar_hash{
    margin-left: 5px;
    margin-right: 5px;
}